
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #d7e1f5;
  margin: 0;
  padding: 100px;
  text-align: center;
}
h1 {
  font-size: 30px;
  color: rgb(76, 86, 129);
}
.card {
  background-color: #fffdf7;
  border-radius: 10px;
  padding: 20px;
  margin: 15px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  text-align: left;
}

.card h2 {
  margin-bottom: 10px;
  font-size: 18px;
}
.card p {
  font-size: 16px;
  color: #333;

}
.image { 
  border-radius: 10px;
 };
  ul {
  padding-left: 20px;
  text-align: justify;
  line-height: 2.0; 
  margin-top: 10px;
}

li {
  margin-bottom: 20px; 
}


table {
  margin: 30px auto;
  background: #fffdf7;
  border-collapse: collapse;
  width: 80%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #f9f9ff;
}

a {
  color: ul 
  padding-left: 20px;
  text-align: justify;
}

table {
  margin: 30px auto;
  background: #fffdf7;
  border-collapse: collapse;
  width: 80%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #f9f9ff;
}

a {
  color: rgb(10, 50, 182);
};
a {
  color: #0033cc;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #cc0033;               
  text-decoration: underline;
}
button {
  background-color: #6c63ff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}